.password-checker{
  ul{
    margin-top: 6px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
  ul li{
    height: 4px;
    width: 25%;
    margin-right: 3px;
    background-color: #c4c4c4;
  }
  ul li:last-child{
    margin: 0;
  }
  .too-weak{
    li:first-child{
      background-color: #F5222D;
    }
  }
  .weak{
    li:nth-child(-n+2){
      background-color: #F5222D;
    }
  }
  .medium {
    li:nth-child(-n+3){
      background-color: #FFAE00;
    }
  }
  .strong{
    li{
      background-color: #00B400;
    }
  }
  .title{
    margin-top: -13px;
    float: right;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.02em;
    line-height: 12px;
  }
  .title-too-weak{
    color: #F5222D;
  }
  .title-weak{
    color: #F5222D;
  }
  .title-medium{
    color: #FFAE00;
  }
  .title-strong{
    color: #00B400;
  }
  .title:first-letter{
    text-transform: capitalize;
  }
}

.disabled{
  display: none;
}
